/* .admin{
    font-family: 'Fira Code', monospace;
font-family: 'Inter', sans-serif;
background: rgb(243, 206, 223);
background: radial-gradient(circle, rgb(245, 204, 222) 0%, rgb(191, 218, 250) 100%);
height: 100vh;
} */