.messanger{
    height:calc(100vh-70px);
    display: flex;
}

.chatMenu{
    flex: 3.5;

}

.chatBox{
    flex: 5.5;
}


.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 91vh !important;
}

.chatBoxWrapper ::-webkit-scrollbar {
    width: 5px !important;
  }
  
  /* Track */
  .chatBoxWrapper ::-webkit-scrollbar-track {
    background: #f1f1f127; 
    border-radius: 20px !important;
  }
   
  /* Handle */
  .chatBoxWrapper ::-webkit-scrollbar-thumb {
    background: rgba(92, 21, 139, 0.384); 
    border-radius: 10px!important;
  }
  
  /* Handle on hover */
  .chatBoxWrapper ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
  }

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right:10px ;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
    background-color: rgba(240, 255, 255, 0.514);
    border-radius: 10px;
    border: none !important;

}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;

}

.chatSubmitButtonNo{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(54, 54, 54);
    color: white;

}

.chatOnline{
    flex: 3;
}

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}           

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid;
}

.noConversationText{
    position: absolute;
    top: 20%;
    font-size:50px;
    color: rgb(206, 201, 201);
    text-align: center;
    cursor: default;


}